# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
build/
*.pyc

# IDE files
.vscode/
.idea/

# Environment and Logs
.env
*.log
npm-debug.log*

# System files
.DS_Store
Thumbs.db

# SSL (уже на сервере, в гите не нужны)
etc/letsencrypt/
